<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:replace="base.html :: links"></span>
    <span th:replace="base.html :: nav"></span>
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card">
                <div align="center" class="card-body my-5">
                    <div style="width: 60%"><h1>Crear un Mock</h1><hr></d>
                    <div class="d-grid mt-4" style="width: 80%;">
                        <a href="/project/listado?redirect=GENERAR_MOCK"  type="button" class="btn btn-primary btn-block">Continuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>